<!DOCTYPE html>
<html>
  <head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>Answer</title>
  </head>
  <body>
    <h1>Quiz el juego de preguntas</h1>
    
    <div class="jumbotron">
      <div class="container">
        <h3><%= result %></h3>
        <p><a href="/quizes/question" class="btn btn-primary btn-lg">Intentar de nuevo</a></p>
      </div>
    </div>
      
  </body>
</html>
