
    
<div class="jumbotron">
  <div class="container">
   Author: Saida Balsells Martínez
   <br/>
   <img src="http://mascotas-static.hola.com/elminizoo/files/2014/02/El-Airedale-Terrier.jpg" class="img-responsive">
  </div>
</div>
