
    
<div class="jumbotron">
  <div class="container">
   Author: Saida Balsells Martínez
   <img src="http://mascotas-static.hola.com/elminizoo/files/2014/02/El-Airedale-Terrier.jpg">
  </div>
</div>
