
<div class="row">
	<form action="/quizes">
	    <div class="form-group">
	        <label>Introduzca el criterio de Búsqueda</label>  
	        <input class="form-control" name="search"/>
	    </div>
	    <button type="submit" class="btn btn-default">Buscar</button>
	</form>
</div>